<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<div th:replace="${navbar}"></div>

<main class="container-lg">
    <div class="my-4 d-flex align-items-center gap-2">
        <h1>Séries</h1>
        <a class="btn btn-outline-primary"
           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
           th:href="@{/adicionarSerie}"><i class="bi bi-plus"></i></a>
    </div>
    <section class="mx-lg-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de lançamento</th>
                    <th scope="col">Assistido na data</th>
                    <th scope="col">Temporada(s)</th>
                    <th scope="col">Total de episódios</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="serie : ${series}">
                    <td th:text="${serie.nome}"></td>
                    <td th:text="${serie.dataDeLancamento}"></td>
                    <td th:text="${serie.assistidoNaData}"></td>
                    <td th:text="${serie.temporada}"></td>
                    <td th:text="${serie.totalDeEpisodio}"></td>
                    <td class="d-flex gap-2">
                        <a href="@{/atualizarSerie/${serie.id}" 
                           class="btn btn-outline-secondary">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a href="@{/deletarSerie/${serie.id}" 
                           class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>